.feedback_form_header{
    text-align: center;
}

.feed_back_submit_button{
    background-image: linear-gradient(to right top, #3c6e71, #33666f, #2c5d6c, #285468, #284b63);
    margin-bottom: 100px;
}

