

    .exp_section_heading_wrapper{
        width: 100%;
        display: flex;
        justify-content: center;

        .project_section_heading{
            width: 300px;
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
            justify-self: center;
            align-items: center;
            margin-top: 150px;
            margin-bottom: -50px;
            border: 1px solid ;
            padding: 0px 10px;
            border-radius: 5px;
        }

    }
    
