.hero_div_wrapper{

    padding: 35px 0 !important;
    position: relative;
    margin-bottom: 180px;

    .hero_image,h2,p{
        position: relative;
       z-index: 2 !important;

    }

    .hero_header_diff{
        color: #3C6E71;
    }

    @media only screen and (min-width: 600px) {
        .hero_image{
            width: 500px !important;
            display: block;
            margin: auto;
            margin-top: -80px;
        }

        br{
            display: none;
        }

        h2{
            margin-top: -50px;
        }
    }

    @media only screen and (max-width: 600px) {
        .hero_image{
            width: 300px !important;
            display: block;
            margin: auto;
            margin-top: -80px;
        }
        .hero-banner-one [class*="icon-box"] {
             display: none;
             box-shadow: none;
        }
        h2{
            margin-top: -50px;
        }
    }

    h2{
        font-weight: 700;
    }

    $base: 0.6rem;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chevron {
    position: absolute;
    width: $base * 3.5;
    height: $base * 0.8;
    opacity: 0;
    transform: scale(0.3);
    animation: move-chevron 3s ease-out infinite;
    }

    .chevron:first-child {
    animation: move-chevron 3s ease-out 1s infinite;
    }

    .chevron:nth-child(2) {
    animation: move-chevron 3s ease-out 2s infinite;
    }

    .chevron:before,
    .chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #2c3e50;
    }

    .chevron:before {
    left: 0;
    transform: skewY(30deg);
    }

    .chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
    }

    @keyframes move-chevron {
    25% {
    opacity: 1;
        }
    33.3% {
    opacity: 1;
    transform: translateY($base * 3.8);
    }
    66.6% {
    opacity: 1;
    transform: translateY($base * 5.2);
    }
    100% {
    opacity: 0;
    transform: translateY($base * 8) scale(0.5);
    }
    }




  .hero-banner-one [class*="icon-box"] {
    position: absolute;
    background: #fff;
    border-radius: 50%;
  }
  .hero-banner-one [class*="icon-box"] img {
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .hero-banner-one .icon-box-one {
    width: 58px;
    height: 58px;
    top: 9%;
    left: 17%;
    animation: jumpTwo 3.5s infinite linear;
  }
  .hero-banner-one .icon-box-one img {
    width: 70px;
  }
  .hero-banner-one .icon-box-two {
    width: 90px;
    height: 90px;
    top: 32%;
    left: 5%;
    animation: jumpThree 4s infinite linear;
  }
  .hero-banner-one .icon-box-two img {
    width: 72px;
  }
  .hero-banner-one .icon-box-three {
    width: 70px;
    height: 70px;
    top: 45%;
    left: 20%;
    animation:  jumpTwo 3.5s infinite linear;
  }
  .hero-banner-one .icon-box-three img {
    width: 80px;
  }
  .hero-banner-one .icon-box-four {
    width: 75px;
    height: 75px;
    bottom: 12%;
    left: 10%;
    animation: jumpThree 3s infinite linear;
  }
  .hero-banner-one .icon-box-four img {
    width: 75px;
  }
  .hero-banner-one .icon-box-five {
    width: 58px;
    height: 58px;
    top: 9%;
    right: 17%;
    animation: jumpTwo 3.5s infinite linear;
  }
  .hero-banner-one .icon-box-five img {
    width: 85px;
  }
  .hero-banner-one .icon-box-six {
    width: 90px;
    height: 90px;
    top: 32%;
    right: 5%;
    animation: jumpTwo 4s infinite linear;
  }
  .hero-banner-one .icon-box-six img {
    width: 64px;
  }
  .hero-banner-one .icon-box-seven {
    width: 70px;
    height: 70px;
    top: 45%;
    right: 20%;
    animation: jumpThree 3.5s infinite linear;
  }
  .hero-banner-one .icon-box-seven img {
    width: 86px;
  }
  .hero-banner-one .icon-box-eight {
    width: 75px;
    height: 75px;
    bottom: 12%;
    right: 10%;
    animation: jumpThree 3s infinite linear;
  }
  .hero-banner-one .icon-box-eight img {
    width: 70px;
  }
  .hero-banner-one .icon-box-nine {
    width: 75px;
    height: 75px;
    bottom: 31%;
    right: 10%;
    animation: jumpThree 3s infinite linear;
  }
  .hero-banner-one .icon-box-nine img {
    width: 80px;
  }
  .hero-banner-one .icon-box-ten {
    width: 75px;
    height: 75px;
    bottom: 31%;
    left: 13%;
    animation: jumpThree 3s infinite linear;
  }
  .hero-banner-one .icon-box-ten img {
    width: 60px;
  }




  .hero-banner-one [class*="bubble"] {
    position: absolute;
    border-radius: 50%;
  }
  .hero-banner-one [class*="bubble"]:before {
    content: "";
    border-radius: 50%;
    position: absolute;
  }
  .hero-banner-one{

    .bubble-one {
        width: 120px;
        height: 120px;
        left: 4%;
        top: 15%;
        animation: rotated 12s infinite linear;

        &:before{

            
            width: 12px;
            height: 12px;
            background: #fac3ff;
            top: 0;
            left: 50%;
              

        }
    }

  } 

  .hero-banner-one .bubble-two {
    width: 160px;
    height: 160px;
    top: 30%;
    left: 15%;
    animation: rotated 17s infinite linear;
  }
  .hero-banner-one .bubble-two:before {
    width: 17px;
    height: 17px;
    background: #8fe9e0;
    top: 50%;
    right: 100%;
  }
  .hero-banner-one .bubble-three {
    width: 120px;
    height: 120px;
    bottom: 33%;
    left: 4%;
    animation: rotated 12s infinite linear;
  }
  .hero-banner-one .bubble-three:before {
    width: 16px;
    height: 16px;
    background: #ffd5ad;
    bottom: 0;
    left: 50%;
  }
  
  .hero-banner-one .bubble-four {
    width: 120px;
    height: 120px;
    right: 4%;
    top: 15%;
    animation: rotated 12s infinite linear;
  }
  .hero-banner-one .bubble-four:before {
    width: 19px;
    height: 19px;
    background: #8fe9e1;
    top: 0;
    left: 50%;
  }
  .hero-banner-one .bubble-five {
    width: 160px;
    height: 160px;
    top: 30%;
    right: 15%;
    animation: rotated 17s infinite linear;
  }
  .hero-banner-one .bubble-five:before {
    width: 12px;
    height: 12px;
    background: #ffd5ad;
    top: 50%;
    right: 100%;
  }
  .hero-banner-one .bubble-six {
    width: 120px;
    height: 120px;
    bottom: 33%;
    right: 4%;
    animation: rotated 12s infinite linear;
  }
  .hero-banner-one .bubble-six:before {
    width: 22px;
    height: 22px;
    background: #fac3ff;
    bottom: 0;
    left: 50%;
  }

}

@-webkit-keyframes jump {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    40% {
      -webkit-transform: translate3d(0, 50%, 0);
      transform: translate3d(0, 50%, 0);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes jump {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    40% {
      -webkit-transform: translate3d(0, 50%, 0);
      transform: translate3d(0, 50%, 0);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @-webkit-keyframes jumpTwo {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    40% {
      -webkit-transform: translate3d(0, 20px, 0);
      transform: translate3d(0, 20px, 0);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes jumpTwo {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    40% {
      -webkit-transform: translate3d(0, 20px, 0);
      transform: translate3d(0, 20px, 0);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @-webkit-keyframes jumpThree {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    40% {
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes jumpThree {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    40% {
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @-webkit-keyframes rotated {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotated {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes rotatedTwo {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  @keyframes rotatedTwo {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  
  @-webkit-keyframes rotatedHalf {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    50% {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    100% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
  }
  @keyframes rotatedHalf {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    50% {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    100% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
  }
  
  @-webkit-keyframes rotatedHalfTwo {
    0% {
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
    100% {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
  @keyframes rotatedHalfTwo {
    0% {
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
    100% {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
  
  @-webkit-keyframes scale-upOne {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.85);
      transform: scale(0.85);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes scale-upOne {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.85);
      transform: scale(0.85);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @-webkit-keyframes scale-right {
    0% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }
    50% {
      -webkit-transform: translateX(20%);
      transform: translateX(20%);
    }
    100% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }
  }
  @keyframes scale-right {
    0% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }
    50% {
      -webkit-transform: translateX(20%);
      transform: translateX(20%);
    }
    100% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }
  }
  
  @keyframes fade_in {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes fade-in {
    0% {
      opacity: 0.7;
    }
    40% {
      opacity: 1;
    }
    100% {
      opacity: 0.7;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0.7;
    }
    40% {
      opacity: 1;
    }
    100% {
      opacity: 0.7;
    }
  }
  @keyframes fade-in-up {
    from {
      transform: translate3d(0, 40px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  @-webkit-keyframes fade-in-rev {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in-rev {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes hvr-ripple-out {
    0% {
      top: -5px;
      right: -5px;
      bottom: -5px;
      left: -5px;
    }
    50% {
      top: -15px;
      right: -15px;
      bottom: -15px;
      left: -15px;
      opacity: 0.8;
    }
  
    100% {
      top: -5px;
      right: -5px;
      bottom: -5px;
      left: -5px;
      opacity: 1;
    }
  }
  @keyframes hvr-ripple-out-two {
    0% {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    100% {
      top: -30px;
      right: -30px;
      bottom: -30px;
      left: -30px;
      opacity: 0;
    }
  }
  
  @-webkit-keyframes scale-up-one {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    40% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes scale-up-one {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    40% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @-webkit-keyframes scale-up-two {
    0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
    40% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
    100% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
  }
  @keyframes scale-up-two {
    0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
    40% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
    100% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
  }
  @-webkit-keyframes scale-up-three {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    40% {
      -webkit-transform: scale(2);
      transform: scale(2);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes scale-up-three {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    40% {
      -webkit-transform: scale(2);
      transform: scale(2);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @-webkit-keyframes jump5p {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    40% {
      -webkit-transform: translate3d(0, 5px, 0);
      transform: translate3d(0, 5px, 0);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes jump5p {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    40% {
      -webkit-transform: translate3d(0, 5px, 0);
      transform: translate3d(0, 5px, 0);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @-webkit-keyframes jump5pRsv {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    40% {
      -webkit-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes jump5pRsv {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    40% {
      -webkit-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @-webkit-keyframes jump10p {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    40% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes jump10p {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    40% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @-webkit-keyframes jump10pRsv {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    40% {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes jump10pRsv {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    40% {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes slideBottom {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: none;
    }
  } 